services:
  # fastapi_test:
  #   build:
  #     context: ./fastapi-test
  #     dockerfile: Dockerfile
  #   container_name: fastapi_app
  #   env_file:
  #     - .env
  #   ports:
  #     - "5000:8000"
  #   volumes:
  #     - ./fastapi-test:/app # 코드 변경 시 자동 반영 (개발용)
  #   networks:
  #     - benchnet
  # rust_test:
  #   build:
  #     context: ./rust-test
  #     dockerfile: Dockerfile
  #   container_name: rust_app
  #   env_file:
  #     - .env
  #   ports:
  #     - "5006:8080"
  #   networks:
  #     - benchnet
  # elixir_test:
  #   build:
  #     context: ./elixir-test
  #     dockerfile: Dockerfile
  #   container_name: elixir_app
  #   env_file:
  #     - .env
  #   ports:
  #     - "5005:4000"
  #   networks:
  #     - benchnet
  # go_test:
  #   build:
  #     context: ./go-test
  #     dockerfile: Dockerfile
  #   container_name: go_app
  #   env_file:
  #     - .env
  #   ports:
  #     - "5004:8080"
  #   networks:
  #     - benchnet
  # nestjs_test:
  #   build:
  #     context: ./nest
  #     dockerfile: Dockerfile
  #   container_name: nestjs_app
  #   ports:
  #     - "5001:3000"
  #   volumes:
  #     - ./nest:/app # 코드 변경 시 자동 반영 (개발용)
  #     - /app/dist
  #     - /app/node_modules
  #   networks:
  #     - benchnet
  # express_test:
  #   build:
  #     context: ./express
  #     dockerfile: Dockerfile
  #   container_name: express_app
  #   ports:
  #     - "5002:3000"
  #   volumes:
  #     - ./express:/app # 코드 변경 시 자동 반영 (개발용)
  #     - /app/dist
  #     - /app/node_modules
  #   networks:
  #     - benchnet
  spring_test:
    build:
      context: ./demo
      dockerfile: Dockerfile
    container_name: spring_app
    ports:
      - "5003:8080"
    volumes:
      - ./demo:/app # 코드 변경 시 자동 반영 (개발용)
      - /app/build
    networks:
      - benchnet
networks:
  benchnet:
    driver: bridge
